<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>型材信息管理系统</title>
    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>

</head>

<body>
<div class="container">
    <div class="header">
        <span class="left">型材信息系统项目选择</span>
        <span class="right">{{user_info}}</span>
        <span class="right_right"><a href="/">退出系统</a></span>
    </div>

    <div class="container-fluid">
        <p class="mi">
            <span style="color: black;">项目选择</span>
        </p>
        <hr>
        <p class="mi">
            <span class="half">数字江海</span>数字江海
        </p>
        <hr>
        <p class="mi">
            <span class="half">普大润发</span>普大润发
        </p>
        <hr>
    </div>

</div>

</body>

</html>